.scale-enter {
  opacity: 0;
  scale: 0.5;
}
.scale-enter-active {
  opacity: 1;
  scale: 1;
  transition: all 0.2s ease;
}
.scale-exit {
  opacity: 1;
  scale: 1;
}
.scale-exit-active {
  opacity: 0;
  scale: 0.5;
  transition: all 0.2s ease;
}

.slide-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.slide-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.2s ease;
}
.slide-exit {
  transform: translateY(0);
  opacity: 1;
}
.slide-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.2s ease;
}
